body {
  font-family: Arial, sans-serif;
  padding: 20px;
}

#stepsList {
  list-style: none;
  padding: 0;
}

li {
  padding: 8px;
  margin-bottom: 8px;
  border: 1px solid #ccc;
  border-radius: 6px;
}

.bold {
  font-weight: bold;
  color: #2a6;
}
